default:
  suites:
    default:
      paths: {  }
      contexts: {  }
  extensions:
    Behat\MinkExtension:
      base_url: 'https://localhost:8000'
      goutte: null
      webdriver: null
    Moodle\BehatExtension:
      moodledirroot: /Should/Change/To/Moodle/www/dir
      steps_definitions: {  }
